body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption{text-align:left}
th {
    text-align: center;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}
input,textarea,select{*font-size:100%}

a {
    text-decoration: none;
    outline: none;
    color: #000;
}
nav {
    width: 100%;
    height: 80px;
    line-height: 80px;
    padding: 5px 0 5px;
}
nav .container-wide {
    padding: 0 12%;
}
nav .container-wide .row .col {
    float: left;
}
nav .container-wide .m3 {
    width: 25%;
    margin-left: 0;
}
nav .container-wide .m9 {
    width: 75%;
    margin-left: 0;
}
nav .container-wide .m9 .right {
    float: right!important;
}
nav .container-wide .m9 ul li {
    float: left;
    padding-left: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*导航栏*/
nav .container-wide {
    height: 80px;
    position: relative;
}
nav .container-wide .logo{
    display: block;
    background: url(../img/logo.jpg) center no-repeat;
    width: 186px;
    height: 50px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
}
nav .container-wide .navBar {
    position: absolute;
    right: 12%;
    top: 50%;
    margin-top: -40px;
}


footer {
    font-size: 16px;
    color: #cacaca;
    background-color: #181e28;
    height: 77px;
    line-height: 77px;
    padding: 0 12%;
}
footer .left {
    float: left;
}
footer .right {
    float: right;
}

footer a{
    color: #cacaca;
}
